<form method="post" action="/settime">
  <input type="text" name="year">
  <input type="text" name="month">
  <input type="text" name="day">
  <input type="text" name="hour">
  <input type="text" name="minute">
  <input type="text" name="second">
  <input type="submit" value="click!">

</form>
